<?xml version="1.0" encoding="UTF-8" ?>
<suite name="FeatureSuite" parallel="classes" thread-count="5">
    <test name="FeaturesSuite">
        <parameter name="browser" value="Chrome"/>
        <classes>
            <class name="org.playwright.ui.tests.RegisterPageTest"/>
            <class name="org.playwright.ui.tests.DownloadPageTest"/>
            <class name="org.playwright.ui.tests.UploadPageTest"/>
        </classes>
    </test>
</suite>